button.dataviz {
    position: absolute;
    bottom: 2em;
    left: 2em;
    border: none;
    padding: 1em 2em;
    border-radius: 10px;
}

@media all and (max-width: 768px) {
    article {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    p {
        width: 80%;
    }
}