header {
    text-align: center;
}

.top-logo {
    width: 8em;
    position: absolute;
    left: 5em;
    top: 0em;
}

.section-name {
    width: 30%;
    overflow-wrap: break-word;
    position: sticky;
    top: 1rem;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 3em;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin-bottom: 3rem;
}

article.expandable>details {
    width: 100%;
}

p+details {
    margin-block: 1rem;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

figcaption {
    font-size: 1rem;
}

ol,
ul {
    margin-block: 0;
}

nav ul {
    margin-block: 2rem;
}

a {
    text-align: center;
}

.title {
    margin-block: 3rem;
    margin-inline: 0.5rem;
}

.section {
    width: 60%;
    margin: 0;
    font-size: 1.25rem;
}

.section p,
li {
    margin: 0;
    max-width: 700px;
    line-height: 1.8em;
}

.section.art p {
    max-width: 100%;
    text-align: center;
}

code {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.dropdown {
    display: flex;
    justify-content: flex-end;
}

h2 {
    margin: 0;
}

.subsection-name {
    margin: 0;
}

.img-md {
    width: 50%;
}

.highlight {
    color: orange;
}

.profile {
    display: flex;
    flex-direction: row;
    margin-inline: 2rem;
}

.profile .section {
    padding-inline: 1rem;
}

@media all and (max-width: 900px) {
    .top-logo {
        display: block;
        left: 0px;
        position: relative;
    }

    article {
        flex-direction: column;
        justify-content: center;
    }

    .section-name {
        width: 100%;
        text-align: center;
        position: relative;
    }

    .section {
        width: 100%;
    }

    h2 {
        margin: 1.4rem 0;
    }

    .section p {
        width: 100%;
        max-width: 100%;
    }

    .img-md {
        width: 100%;
    }
}