.top-logo {
    width: 8em;
    position: absolute;
    left: 5em;
    top: 0em;
}

.section-name {
    width: 30%;
    overflow-wrap: break-word;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 3em;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin-bottom: 1rem;
}

article.expandable>details {
    width: 100%;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

figcaption {
    font-size: 1rem;
}

summary {
    flex-direction: row;
}

ol {
    margin-top: 0;
}

.title {
    margin-block: 3rem;
    margin-inline: 0.5rem;
}

.section {
    width: 60%;
    margin: 0;
    font-size: 20px;
}

.section details {
    margin-bottom: 2rem;
}

.section p {
    margin: 0;
    margin-bottom: 2rem;
}

.dropdown {
    display: flex;
    justify-content: flex-end;
}

h2 {
    margin: 0;
}

.subsection-name {
    margin: 0;
}

.img-md {
    width: 50%;
}

@media all and (max-width: 900px) {
    .top-logo {
        display: block;
        left: 0px;
        position: relative;
    }

    article {
        flex-direction: column;
        justify-content: center;
    }

    .section-name {
        width: 100%;
        text-align: center;
    }

    .section {
        width: 100%;
    }

    h2 {
        margin: 1.4rem 0;
    }

    p {
        width: 100%;
    }

    .img-md {
        width: 100%;
    }
}