.top-logo {
    width: 8em;
    position: absolute;
    left: 5em;
    top: 0em;
}

.section-name {
    width: 30%;
    overflow-wrap: break-word;
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 3em;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
}

article.expandable>details {
    width: 100%;
}

summary {
    flex-direction: row;
}

.section {
    width: 60%;
    margin: 0;
    font-size: 20px;
}

.section p {
    margin: 0;
}

.dropdown {
    display: flex;
    justify-content: flex-end;
}

input[type=checkbox]:checked+.dropdown {
    display: none;
}

h2 {
    margin: 0;
}

@media all and (max-width: 900px) {
    article {
        flex-direction: column;
        justify-content: center;
    }

    .section-name {
        width: 100%;
        text-align: center;
    }

    .section {
        width: 100%;
    }

    h2 {
        margin: 1.4rem 0;
    }

    p {
        width: 100%;
    }
}